.form-content {
  margin: 3vh 30vh 2vh 30vh;
  flex-grow: 1;
}

.form-control {
  text-align: center;
  margin-bottom: 1vh;
}

@media screen and (max-width: 959px) {
  .form-content {
    margin: 3vh 0 2vh 0;
  }
}